<!-- 
	Description "The Bigwit Server"
	
	Bigwit - сервер, предоставляющий доступ к сервисам и данным своих клиентов.
	В задачи сервера входит обеспечение всех его модулей быстрым доступом к данным 
	в базе. Так же организация хранилища в RAM для клиентов, находящихся в сети.
	Так же организация взаимодействия сервисов между собой и с клиентами.

 -->
 
 <server>
 	<config-db>db_configdesk.xml</config-db>
 </server>